<script>
  var dk_quote = '<%= @dk_quote %>';
  var sv_quote = '<%= @sv_quote %>';

  function toggleLang(){
    if (getLang() == 'dansk') {
      changeLang('dansk', 'svenska');
    } else {
      changeLang('svenska', 'dansk');
    }
  }

  function getLang() {
    var lang = null;
    var classList = document.getElementById('flag').classList;

    if (classList.contains('dansk')) {
      lang = 'dansk';
    } else if (classList.contains('svenska')) {
      lang = 'svenska';
    }

    return lang;
  }

  function changeLang(fromLang, toLang){
    var flag = document.getElementById('flag');
    var fjork = document.getElementById('fjork');
    var omain = document.getElementById('omain');
    var toggle = document.getElementById('toggle');
    var tr_quote = document.getElementById('tr_quote');

    flag.classList.remove(fromLang);
    flag.classList.add(toLang);
    fjork.classList.remove(fromLang);
    fjork.classList.add(toLang);
    omain.classList.remove(fromLang);
    omain.classList.add(toLang);
    toggle.innerHTML = fromLang;
    if (toLang == 'dansk') {
      tr_quote.innerHTML = dk_quote;
    } else if (toLang == 'svenska') {
      tr_quote.innerHTML = sv_quote;
    }
  }
</script>
<div class="wrapper <%=@lang%>" id="omain">
  <div id="switch"><button type="button" class="btn btn-primary" id="toggle"><%=@alang%></button></div>
  <a id="fjork" class="github-fork-ribbon" href="https://github.com/eebbesen/harrison_fjord" title="Fjork me on GitHub"></a>
  <div class="citere quote" id="tr_quote">
    <%= @tr_quote %>
  </div>
  <div class="inner">
    <img class="img-responsive" src="<%= @image %>">
  </div>
  <div class="facebook">
    <div id="fbshare">
      <div class="fb-share-button" data-href="https://harrison-fjord.herokuapp.com/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
      </div>
    </div>
  </div>
  <div class="quote">
    <%= @quote %>
  </div>
</div>
<div id="flag" class="<%=@lang%>">
  <div id="top">
    <div id="t1"></div>
    <div id="t2"></div>
    <div id="t3"></div>
  </div>
  <div id="middle">
    <div id="m1"></div>
  </div>
  <div id="bottom">
    <div id="t1"></div>
    <div id="t2"></div>
    <div id="t3"></div>
  </div>
</div>
<script>
  document.getElementById('toggle').onclick=toggleLang
</script>
