<script>
  var dk_quote = '<%= @dk_quote %>';
  var sv_quote = '<%= @sv_quote %>';
</script>
<div class="wrapper dansk" id="omain">
  <div id="switch"><button type="button" class="btn btn-primary" onclick="toggleLang()" id="toggle">svenska</button></div>
  <a id="fjork" class="github-fork-ribbon" href="https://github.com/eebbesen/harrison_fjord" title="Fjork me on GitHub"></a>
  <div class="citere quote" id="tr_quote">
    <%= @tr_quote %>
  </div>
  <div class="inner">
    <div class="image">
      <img src="<%= @image %>">
    </div>
  </div>
  <div class="facebook">
    <div id="fbshare">
      <div class="fb-share-button" data-href="https://harrison-fjord.herokuapp.com/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://harrison-fjord.herokuapp.com/">Del</a>
      </div>
    </div>
  </div>
  <div class="quote">
    <%= @quote %>
  </div>
</div>
<div id="flag" class="dansk">
  <div id="top">
    <div id="t1"></div>
    <div id="t2"></div>
    <div id="t3"></div>
  </div>
  <div id="middle">
    <div id="m1"></div>
  </div>
  <div id="bottom">
    <div id="t1"></div>
    <div id="t2"></div>
    <div id="t3"></div>
  </div>
</div>
