<%=form_tag(thumbnails_destroy_path, method: 'delete') do %>
  <input type='hidden' name='markedForDelete' id='markedForDelete' value='-1'></input>
  <input type="hidden" name="deleteKey" id="deleteKey" value="<%=@dk%>"></input>
  <div class="container">
    <div class='deletebutton'>
      <input type='submit' value='De1337'>
    </div>
    <div class="photos row">
      <% @results.each do |result| %>
        <img id="<%=result.id%>" class="photo col" src="<%= result.thumbnail_url %>"/>
      <% end %>
    </div>
  </div>
<% end %>
<%= javascript_pack_tag 'images' %>
