<!DOCTYPE html>
<html>
  <head>
    <title>Harrison Fjord</title>
    <%= favicon_link_tag 'harrisonford.jpg' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onload="testAPI();">
    <!-- facebook -->
    <script>
      function statusChangeCallback(response) {
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          testAPI();
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV['FACEBOOK_APP_ID'] %>,
          xfbml      : true,
          version    : '<%= ENV['FACEBOOK_API_VERSION'] %>'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";

         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          if (response['name'] != null && response['name'].length > 0) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('fblogin').style.display = 'none';
            document.getElementById('fbshare').style.display = '';
          } else {
            document.getElementById('fbshare').style.display = '';
            document.getElementById('fblogin').style.display = 'none';
          }
        });
      }
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=<%= ENV['FACEBOOK_API_VERSION'] %>&appId=<%= ENV['FACEBOOK_APP_ID'] %>";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <%= yield %>
  </body>
</html>
